// Colours
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);


//Font sizes
$font-sm: 0.875 rem; // 14px
$font-med: 1.125 rem; // 18px

//Variables

//## Colors
//
//### Primary
//
$CTA-text: hsl(356, 100%, 66%);
$CTA-hover: hsl(355, 100%, 74%);
$headings: hsl(208, 49%, 24%);
//
//### Neutral
//
$text-white: hsl(0, 0%, 100%);
$footer-text: hsl(240, 3%, 79%);
$text-blue: hsl(207, 13%, 34%);
$bg-footer: hsl(240, 10%, 16%);
//
//### Gradient
//
//Background gradient - Intro/CTA mobile nav:
//
$gradient-1: hsl(13, 100%, 72%);
$gradient-2: hsl(353, 100%, 62%);
//
//Background gradient - body:
//
$gradient-3: hsl(237, 17%, 21%);
$gradient-4: hsl(237, 23%, 32%);

$bg-submenu: rgb(239, 239, 241);